* {
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: 'Poppins', sans-serif;
}

.img {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-image: url(../image/banner.png);
    background-size: cover;
    position: fixed;
    /* position: relative; */ 
    z-index: 1;
}

.box {
    height: 700px;
    width: 650px;
    object-fit: cover;
    background-color: rgb(67, 77, 137);
    margin: 25px auto;
    border: 10px solid rgb(62, 81, 191);
}

.head {
    color: azure;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
    word-spacing: 10px;
}

.data {
    color: rgb(213, 225, 225);
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
}

.contact {
    max-width: 80%;
    margin: 100px auto;
}

.form {
    margin-bottom: 20px;
    text-align: center;
}

.form input {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    margin: 20px;
}

.form input::placeholder {
    font-size: 16px;
    color: #c199df
}

.form-3 {
    width: 100%;
}

.form-4 {
    text-align: center;
    margin-top: 50px;
}

.form-4 button {
    width: initial;
    border: none;
    border: 2px solid #fff;
    color: azure;
    background-color: transparent;
    padding: 10px 50px;
    font-size: 20px;
    transition: all 1s;
}

.form-4 button:hover {
    /* color: rgb(24, 24, 101); */
    background-color:rgb(62, 81, 191);
    cursor: pointer;
}

.fa-arrow-right {
    color: #fff;
}